<div class="navbar-header">
    <div class="navbar-brand">Google Oauth</div>
</div>

<!--
{{ printf "%#v" . }}
-->
{{if .AuthEnabled}}
    {{if .Profile}}
    <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
        <button class="btn btn-default">Log out</button>
    </form>
    <div class="navbar-text navbar-right">
        {{if .Profile.ImageURL}}
            <img class="img-circle" width="24" src="{{.Profile.ImageURL}}">
        {{end}}
        <span>{{.Profile.DisplayName}}</span>
    </div>
    {{else}}
    <form method="post" action="{{.LoginURL}}" class="navbar-form navbar-right">
        <button class="btn btn-default">Log in</button>
    </form>
    <!--
    <div class="navbar-text navbar-right">
        <a href="{{.LoginURL}}">Log in</a>
    </div>
    -->
    {{end}}
{{end}}